{% extends "CoworkingEgyptBundle::base.html.twig" %}

{% block title %}CoworkingEgyptBundle:HomeController:Index{% endblock %}

{% block body %}
    {{ parent() }}
    <h1>Welcome to the HomeController:Index page</h1>
{% endblock %}